table
{
    width: 100%;
    border-collapse: collapse;
	  overflow: hidden;
    font-family: Mason Sans OT,serif;
	  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}


th,
td {
  border-collapse: collapse;
  padding: 0.75rem;
	color: #fff;
    text-align: center;
}

.react-bootstrap-table-page-btns-ul {
  float: right;
  margin-top: 0px !important;
  font-family: Mason Sans OT,serif;
}
.page-item{
display: inline;
margin-right: 5px; /* Отступ слева */
padding: 5px;
width: 6px;
height: 6px;
border-radius: 20%;
background-color: #6b63b5;
}
.active.page-item
{
display: inline;
margin-right: 5px; /* Отступ слева */
padding: 5px;
width: 6px;
height: 6px;
border-radius: 20%;
background-color: #6b63b5;
}

.page-link
{
  color: #fff;
  text-align: center;
  text-decoration: none; 
}

.sr-only
{
  display: none;
}

.filter.number-filter
{
  display: inline;
}

.number-filter-column-id
{
  display: inline;
  width: 10px;
  box-sizing: content-box;
}

.select-filter-column-type
{
  width: 50%;
  box-sizing: content-box;
}