footer
{
 position: absolute;
 left: 0;
 bottom: 0;
 width: 100%;
}

ul
{
list-style: none;
}

.NeededOperations
{
    width: 300px;
}

.OperationItem
{
    display:inline-block;
    width:30%;
    margin: 10px;
    padding:10px;
}
