.LabelFor
{
    text-transform: uppercase;
    font-size: 10px;
    color: #fff;
    position: relative;
    letter-spacing: 1.5px!important;
    display: inherit;
    line-height: 1.33!important;
    font-family: Sofia Pro,serif;
    font-weight: 700;
}

.IdFor
{
    font-size: 11px;
    /* color: #fff; */
    position: relative;
    font-family: Mason Sans OT,serif;
    font-weight: 700;
    line-height: 2;
    width: 100%;
    letter-spacing: 1.1px;
}

.Select
{
    height: 30px;
    width: inherit;
}